@charset "utf-8";
@import url('./reset.css');

html {
    overflow: scroll;
    overflow-x: hidden;
    /* 가로 스크롤이 보이지 않게 한다. */
    scroll-behavior: smooth;
}


/* header */
header {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
header:hover {
    background-color: #fff;
    cursor: pointer;
}
header .main_menu a.border_link,
header .main_menu a.border {
    text-decoration: none;
}
header .main_menu a.border_link:hover {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}
header .main_menu a.border:hover {
    border-bottom: 2px solid black;
    padding-bottom: 16px;
}
header.light:hover .logo a {
    background: url('../img/logo_kakao.png') no-repeat;
}
header.light:hover .main_menu a {
    color: #000;
}
header.light:hover .language a.on {
    color: #000;
}
header .inner {
    position: relative;
    margin: 0 auto;
    /* border-bottom: 1px solid #ddd; */
    width: 100%;
}
header a {
    font-size: 16px;
    font-weight: 400;
}
header .logo {
    z-index: 100;
    position: absolute;
    margin-top: 20px;
}
.bg {
    background-color: #fff;
}
header.light .logo a {
    display: block;
    background: url('../img/logo_kakao_white.png') no-repeat;
    width: 66px;
    height: 20px;
}
header.dark .logo a {
    display: block;
    background: url('../img/logo_kakao.png') no-repeat;
    width: 66px;
    height: 20px;
}
header.scroll .logo a {
    display: block;
    background: url('../img/logo_kakao.png') no-repeat;
    width: 66px;
    height: 20px;
}
header .menu_group {
    z-index: 100;
    display: inline-block;
    margin-left: 70px;
}
header nav {
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    max-width: 1750px;
}
header.light .main_menu a {
    color: #fff;
}
header.dark .main_menu a {
    color: #000;
}
header.scroll .main_menu a {
    color: #000;
}
.main_menu {
    display: inline-block;
    padding: 0 12px;
}
.menu_inner {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 59px;
    left: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.menu_inner > ul {
    margin: 0 auto;
    width: 1150px;
    height: 100%;
}
.main_menu.first .menu_inner {
    height: 310px;
}
.main_menu.second .menu_inner {
    height: 280px;
}
.main_menu.third .menu_inner {
    height: 400px;
}
.main_menu.fourth .menu_inner {
    height: 270px;
}

/* float, width */
.main_menu.first .sub_menu {
    float: left;
    width: 16.5%;
}
.main_menu.second .sub_menu {
    float: left;
    width: 12.4%;
}
.main_menu.third .sub_menu {
    float: left;
    width: 12.4%;
}
.main_menu.fourth .sub_menu {
    float: left;
    width: 19.8%;
}

/* border, height */
.main_menu.first .sub_menu {
    border-left: 1px solid #ddd;
    height: 310px;
}
.main_menu.first .sub_menu.six{
    border-right: 1px solid #ddd;
}
.main_menu.second .sub_menu {
    border-left: 1px solid #ddd;
    height: 280px;
}
.main_menu.second .sub_menu.eight {
    border-right: 1px solid #ddd;
}
.main_menu.third .sub_menu {
    border-left: 1px solid #ddd;
    height: 400px;
}
.main_menu.third .sub_menu.eight {
    border-right: 1px solid #ddd;
}
.main_menu.fourth .sub_menu {
    border-left: 1px solid #ddd;
    height: 270px;
}
.main_menu.fourth .sub_menu.five {
    border-right: 1px solid #ddd;
}

.main_menu:hover .menu_inner {
    display: block;
}
.main_menu.sixth a {
    position: relative;
}
header .main_menu.sixth a span.link_icon {
    display: block;
    position: absolute;
    top: 5px;
    right: -15px;
    width: 16px;
    height: 16px;
}
header.light:hover .main_menu.sixth a span.link_icon {
    background: url('../img/header_link_dark.png') no-repeat;
}
header.light .main_menu.sixth a span.link_icon {
    background: url('../img/header_link_light.png') no-repeat;
}
header.dark .main_menu.sixth a span.link_icon {
    background: url('../img/header_link_dark.png') no-repeat;
}
header.scroll .main_menu.sixth a span.link_icon {
    background: url('../img/header_link_dark.png') no-repeat;
}
.sub_menu strong a {
    padding-top: 45px;
}
.sub_menu a {
    display: block;
}
.sub_menu strong a {
    font-size: 14px;
    font-weight: bold;
}
.sub_menu ul li a {
    font-size: 13px;
    color: #666 !important;
    line-height: 30px;
}
.language {
    float: right;
}
.language li {
    z-index: 100;
    float: left;
    position: relative;
    padding-left: 10px;
}
.language li a {
    text-decoration: none;
}
header.light .language a.on {
    color: #fff;
}
header.dark .language a.on {
    color: #000;
}
header.scroll .language a.on {
    color: #000;
}
/* //header */


/* main */

/* banner */
#banner .banner_slide li p {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 78px;
    top: 115px;
    line-height: 47px;
}
#banner.light .banner_slide li p {
    color: #fff;
}
#banner.dark .banner_slide li p {
    color: #000;
}
#banner.scroll .banner_slide li p {
    color: #000;
}
#banner button {
    color: #000;
    font-size: 14px;
    background-color: #fff;
    position: absolute;
    top: 250px;
    left: 80px;
    padding: 0 15px;
    height: 38px;
    line-height: 40px;
}
#banner button.last {
    position: absolute;
    top: 300px;
    left: 80px;
}
#banner button:hover {
    color: #fff;
    font-weight: normal;
    background-color: #000;
}
/* //banner */

/* content */
#content {
    margin: 0 auto 130px;
    max-width: 1800px;
}
#content .content_top {
    padding-left: 30px;
    height: 200px;
}
#content ul li {
    float: left;
    width: 33.333%;
    height: 120px;
}
#content ul li h3 {
    color: #000;
    font-size: 15px;
}
#content ul li a {
    color: #000;
    display: block;
    font-size: 20px;
    text-decoration: none;
}
#content ul li a p {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.2px;
    padding-top: 20px;
    max-width: 95%;
}
#content .content_top ul li .stock {
    color: red;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
}
#content ul li a strong {
    color: #000;
    display: block;
    height: auto;
    font-size: 19px;
    font-weight: bold;
    padding-top: 20px;
    max-width: 95%;
    line-height: 30px;
}
#content .content_top ul li .stock strong {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-right: 13px;
}
#content .content_top ul li .stock .icon {
    vertical-align: bottom;
    display: inline-block;
    background: url('../img/triangle.png') no-repeat;
    width: 24px;
    height: 24px;
}
#content .content_bottom {
    padding-left: 30px;
    height: 500px;
}
#content .content_bottom ul li a h3 {
    letter-spacing: -1px;
    position: absolute;
    padding: 15px 0 0 15px;
}
#content .content_bottom ul li a h3.white {
    color: #fff;
    font-weight: normal;
}
#content .content_bottom ul li a img {
    max-width: 95%;
    height: auto;
}
/* //content */

/* //main */


/* footer */
footer {
    z-index: 100;
    font-size: 14px;
    position: relative;
    border-top: 1px solid #ccc;
    padding: 30px 0 80px;
}
footer .inner {
    margin: 0 auto;
    max-width: 1750px;
}
footer ul li {
    float: left;
    margin-left: 30px;
}
footer ul li.none {
    margin-left: 15px;
}
footer ul li.menu_first {
    margin: 0;
}
footer ul li ul {
    position: absolute;
    bottom: 80px;
}
footer ul li.menu_third strong a {
    color: #222;
    font-weight: bold;
}
footer ul li ul {
    display: none;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
}
footer ul li:hover ul {
    display: block;
    z-index: 100
}
footer ul li ul li {
    margin: 10px 40px 10px 20px
}
footer ul li.menu_first ul {
    left: 40px;
}
footer ul li.menu_second ul {
    left: 130px;
}
footer ul li.menu_third ul {
    left: 280px;
}
footer ul li.menu_fourth ul {
    left: 430px;
}
footer ul li.menu_fifth ul {
    left: 510px;
}
footer ul li.menu_seventh ul {
    left: 740px;
}
footer ul li ul li {
    float: none;
}
footer ul li a {
    color: #999;
    position: relative;
}
footer ul li a:hover {
    color: #222;
    text-decoration: none;
}
footer ul li a:hover .open_icon {
    background: url('../img/up.png') no-repeat;
}
footer ul li .open_icon {
    transform: translate(0, -50%);
    display: block;
    background: url('../img/down.png') no-repeat;
    position: absolute;
    top: 50%;
    right: -16px;
    width: 12px;
    height: 12px;
}
footer ul li a span.link_icon {
    display: block;
    background: url('../img/link.png') no-repeat;
    position: absolute;
    top: 3px;
    right: -20px;
    width: 16px;
    height: 16px;
}
footer .family_site {
    float: right;
}
footer .family_site li a.border {
    border-bottom: 1.3px solid black;
    padding: 0 100px 5px 0;
}
footer .family_site li {
    position: relative;
}
footer .family_site li ul {
    bottom: 20px;
}
footer .family_site li span.family_icon {
    display: block;
    background: url('../img/open.png') no-repeat;
    position: absolute;
    top: 30%;
    right: 5px;
    width: 12px;
    height: 12px;
}
footer .copy {
    color: #888;
    display: block;
    float: left;
    font-size: 12px;
    position: absolute;
    bottom: 30%;
}
a.top {
    background: url('../img/top_button.svg') no-repeat;
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 40px;
    height: 40px;
}
a.top:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}
/* //footer */