
@media screen and (max-width: 1160px) {
    header nav {
        padding: 0 5%;
    }
    .menu_inner > ul {
        width: 900px;
    }
    .main_menu.second .sub_menu {
        width: 12.3%;
    }
    .main_menu.third .sub_menu {
        width: 12.3%;
    }
    .info {
        max-width: 90%;
    }
    #content .content_bottom {
        padding-top: 50px;
    }
    footer .inner {
        padding: 0 5%;
    }
    footer .copy {
        bottom: 10%;
    }
}
@media screen and (max-width: 1120px) {
    #sitemap .inner ul .title {
        float: left;
        width: 13%;
    }
}

@media screen and (max-width: 1024px) {
    .menu_inner > ul {
        margin: 0 auto;
        width: 771px;
        height: 100%;
    }
    .main_menu.second .sub_menu {
        width: 12.3%;
    }
    .main_menu.third .sub_menu {
        width: 12.3%;
    }
    .sub_menu strong a {
        font-size: 12.5px;
    }
    .sub_menu ul li a {
        font-size: 12px;
        line-height: 30px;
    }
    #banner .banner_slide li p {
        font-size: 25px;
    }
    #content {
        margin: 0 auto;
    }
    #content ul li h3 {
        color: #000;
        font-size: 13px;
    }
    #content ul li a p {
        font-size: 13px;
    }
    #content ul li a strong {
        font-size: 16px;
    }
    footer {
        font-size: 13px;
    }
    footer ul li {
        margin-left: 40px;
    }
    footer ul li ul {
        margin-bottom: 150px;
    }
    footer .family_site {
        margin: 25px 10px 0 0;
    }
    a.top {
        bottom: 15%;
    }
}
@media screen and (max-width: 818px) {
    #banner .banner_slide li p {
        font-size: 20px;
        line-height: 40px;
    }
}
@media screen and (max-width: 750px) {
    .main_menu {
        display: inline-block;
        padding: 0 5px;
    }
}

/* Mobile */
@media screen and (max-width: 641px) {
    header nav {
        border: none;
        padding: 0;
    }
    header .logo {
        padding-left: 5%;
    }
    header .menu_group {
        padding-top: 50px;
        display: none;
        background-color: #fff;
        margin-left: 0;
    }
    header .main_menu {
        display: block;
    }
    .language {
        display: none;
    }
    header:hover .logo a{
        pointer-events: none;
    }
    header .mobile_menu {
        background: url('../img/mobile_menu.svg') no-repeat;
    }
    header .main_menu.first a.border_link {
        border-bottom: none;
        padding-bottom: 0;
    }
    header .main_menu a.border_link:hover {
        border-bottom: none;
        padding-bottom: 0;
    }
    header .main_menu a.border:hover {
        border-bottom: none;
        padding-bottom: 0;
    }
    header .main_menu.sixth a span.link_icon {
        display: none;
    }
    .info {
        display: none;
    }
    .menu_inner {
        border: none;
        display: none !important;
        height: 0 !important;
    }
    .main_menu a {
        display: block;
    }
    .sub_menu {
        display: none !important;
    }
    .mobile_menu {
        position: fixed;
        top: 2%;
        right: 3%;
        width: 30px;
        height: 30px;
    }
    #content {
        margin-top: 150px;
    }
    #sitemap {
        padding-left: 16%;
    }
    #sitemap .inner ul .title {
        width: 25%;
    }
    #sitemap .inner ul .title:nth-last-child(1) {
        padding: 0 0 75px 0;
    }
    footer {
        border-top: none;
        padding: 30px 0 230px;
    }
    footer ul li.menu_first {
        margin-left: 0;
    }
    footer ul li.none {
        margin-left: 0;
    }
    footer ul li {
        width: 100%;
        margin-left: 0;
    }
    footer ul li p:hover .open_icon {
        background: none;
    }
    footer ul li .open_icon {
        background: none;
    }
    footer .copy {
        position: relative;
        bottom: -10px;
    }

    footer .family_site {
        float: left;
        padding-bottom: 20px;
    }
    a.top {
        background: url('../img/mobile_top_button.svg') no-repeat;
        position: fixed;
        bottom: 10%;
        right: 2%;
        width: 30px;
        height: 30px;
    }

}
@media screen and (max-width: 600px) {
    #content .content_top {
        padding-left: 17px;
    }
    #content .content_bottom {
        padding-left: 17px;
    }
}

@media screen and (max-width: 457px) {
    #sitemap .inner ul li ul li a {
        font-size: 11.5px;
    }
    #sitemap {
        padding-left: 10%;
    }
}

@media screen and (max-width: 425px) {
    #banner .banner_slide li p {
        font-size: 14px;
        left: 10%;
        top: 35%;
        line-height: 25px;
    }
    #sitemap .inner ul li ul li a {
        letter-spacing: -1px;
    }
}